html, body {
    padding: 0; margin: 0;
    text-align: center;
    background: #1d72ba;
    color: #e0d336;
}

div {
    font-size: 1.5em;
}

#outputValue {
    background: #de793a;
    color: #ffffff;
    width: 100%;
    padding-left: 38%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    width: 62%;
}
